fd
<mat-list>
    <mat-list-item class="boxing" *ngFor="let contract of contractList">
    <div mat-line><b>Customer Name: {{contract.name}}</b></div>
    <div mat-line>Customer Adress: {{contract.address}}</div>
    <div mat-line>Price: {{contract.totalPrice}}</div>
    <div mat-line>Broker Name: {{contract.brokerName}}</div> 
    <div mat-line>Broker Address: {{contract.brokerAddress}}</div>
    <div mat-line>Contract Start Date: {{contract.contractStartDate | date}}</div>
    <div mat-line>Contract End Date: {{contract.contractEndDate | date }}</div>
    <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
  
  <div class="fab-button">
    <button mat-fab color="primary" #tooltip="matTooltip" matTooltip="New Contract"  aria-label="fab button with tooltip">
      <mat-icon>add</mat-icon>
    </button>
  </div>